.toggle {
	@apply green-hover;
}
.burger {
	@apply animate-slideLeft fixed left-0 top-0 bottom-0 z-2 h-screen w-full bg-white shadow-xl pt-12 pb-5 px-4;
	max-width: 320px;
}
.close {
	@apply absolute right-5 top-5 green-hover;
}
.fill {
	@apply w-full h-full flex flex-col items-start gap-5;
}
.catalog,
.login {
	@apply flex items-center gap-2 font-semibold rounded-lg;
	padding: 11px 15px;

	> svg {
		@apply w-5 h-5;
	}
}
.catalog {
	@apply btn-green;

	> svg {
		@apply fill-white;
	}
}
.catalog,
.login,
.field,
.noResults,
.country {
	font-size: 13px;
}
.menu {
	@apply w-full h-full overflow-hidden;
}
.search,
.field {
	@apply rounded-lg;
}
.search {
	@apply flex items-center justify-between gap-5 green-border px-3;

	> svg {
		@apply min-w-5 min-h-5 max-w-5 max-h-5;
	}
}
.field {
	@apply py-2.5 w-full;
}
.countries,
.noResults {
	@apply mt-3;
}
.countries {
	@apply flex flex-col gap-1.5 scrollbar-y max-h-full;
}
.country,
.noResults {
	@apply animate-fade;
}
.country {
	@apply green-hover animate-fade;

	> a {
		@apply w-full bg-gray-100 py-2 px-3 rounded-md;
	}
}
.login {
	@apply mt-auto btn-orange;
}
.noResults {
	@apply text-center;
}